.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	position: relative;
	min-height: 100%;
	top: -40px;
	width: 100%;
}

.container {
	position: absolute;
	max-height: 449px;
}

.movie-container {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0px 2rem;
}

.main-form {
	position: relative;
	margin: 0 auto;
	height: 44px;
	width: 337px;
	color: #80868B;
	margin-bottom: 32px;
}

@media (min-width: 961px) {
	.movie-container {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 715px) and (max-width: 960px) {
	.movie-container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 540px) and (max-width: 714px) {
	.movie-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 312px) and (max-width: 539px) {
	.movie-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.movie-container > div {
	margin: 4px;
}

@media (min-width: 672px) {
	.main-form {
		width: 561px;
	}
}

@media (min-width: 560px) {
	.main-form {
		width: 449px;
	}
}

.main-form > .input-wrapper {
	display: flex;
	height: 100%;
	position: relative;
}

.main-form > .input-wrapper > input {
	background-color: white;
	border: none;
	border-radius: calc(0.5 * 44px);
	font-size: 16px;
	height: 100%;
	position: relative;
	padding-inline-start: 52px;
	padding-inline-end: 40px;
	outline: none;
	width: 100%;
}

.icon-wrapper {
	display: flex;
	position: absolute;
	z-index: 1;
	height: 100%;
	left: 12px;
	justify-content: center;
	align-items: center;
	width: 32px;
}
