.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	position: relative;
	min-height: 100%;
	top: -40px;
	width: 100%;
}

.main-form {
	margin: 0 auto;
	position: relative;
	height: 44px;
	width: 337px;
}

@media (min-width: 672px) {
	.main-form {
		width: 561px;
	}
}

@media (min-width: 560px) and (max-width: 671px) {
	.main-form {
		width: 449px;
	}
}

.main-form > .input-wrapper {
	display: flex;
	height: 100%;
	position: relative;
}

.main-form > .input-wrapper > input {
	background-color: white;
	border: none;
	border-radius: calc(0.5 * 44px);
	color: #80868B;
	font-size: 16px;
	height: 100%;
	position: relative;
	padding-inline-start: 52px;
	padding-inline-end: 40px;
	outline: none;
	width: 100%;
}